In [1]:
import pandas as pd
import numpy as np

In [6]:
# importing the data
data = pd.read_csv("titanicsurvival.csv")
data.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [3]:
# lets check if we have any empty instance or row
data.isna().any()

Pclass      False
Sex         False
Age          True
Fare        False
Survived    False
dtype: bool

In [7]:
# age has empty values, lets replace these with the mean value of age feature

data.Age = data.Age.fillna(data.Age.mean()).astype(int)
data.isna().any()

Pclass      False
Sex         False
Age         False
Fare        False
Survived    False
dtype: bool

In [8]:
# lets map the sex column
data.Sex = data.Sex.map({"female" : 0 , "male" : 1}).astype(int)
data.Sex

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex, Length: 891, dtype: int32

In [9]:
# lets split the data and import the model
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

X_train, X_test, y_train, y_test = train_test_split(data.drop(columns = "Survived"), data.Survived, test_size=0.2, random_state=0)

model = GaussianNB()
model.fit(X_train, y_train)

# lets check the accuracy score
model.score(X_test, y_test)

0.7821229050279329

In [15]:
# lets try to predict something
pclass = int(input("enter pclass of passenger : "))
sex = int(input("enter passenger sex- female: 0  male: 1 ")) # 0 for female and 1 for male


age = int(input("enter the age : "))
fare = float(input("enter the fare : "))

passenger = [[pclass, sex, age, fare]]

if model.predict(passenger) == 1:
    print("survived")
else:
    print("not survived")

survived

In [27]:
# using cross validation technique to measure the accuracy

from sklearn.model_selection import cross_val_score
score = cross_val_score( model, X_train, y_train, cv=6)
score.mean()

0.778129896026207